/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

:root {
  --primary-color: #2c3855;
  --primary-color-dark:#435681;
  --text-dark:#333333;
  --text-light:#767268;
  --extra-light:#f3f4f6;
  --white: #ffffff;
  --max-width: 1400px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #ebeefd);
  overflow-x: hidden;
  overflow-y: auto;
}


.navbar1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar1::before{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.navbar1::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(225,225,225,.4), transparent);
  transition: .5s;
}

.navbar1:hover::after {
  left: 100%;
}

.logo {

  color: rgb(0, 121, 251);
  text-decoration: none;
  font-weight: 800;
  scale: 1;
  transition: 0.2s ease-in-out;
}

.logo:hover {
  color: rgb(47, 47, 246);
  scale: 1.1;
}

.navbars  a{
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
  margin-left: 2.5rem;
  transition: 0.4s ease-in-out;
}

.navbars a:hover {
  color: rgb(0, 9, 186);
  
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  display: none;
}

/*Navbar BreakPoint*/
@media (max-height: 992px) {
  .navbar1 {
      padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
      display: inline-flex;
  }

  #check:checked~.icons #menu-icon{
      display: none;
  }

  .icons #close-icon{
      display: none;
  }

  #check:checked~.icons #close-icon{
      display: block;
  }

  .navbars {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background: rgb(0,0,0,.1);
      backdrop-filter: blur(50px);
      box-shadow: 0.1rem 0.1rem rgba(0,0,0,.1);
      overflow: hidden;
      transition: .3s ease;
  }

  #check:checked~.navbars{
      height: 18.7rem;
  }

  .navbars a {
      display: block;
      font-size: 1.1rem;
      margin: 1.5rem 0;
      text-align: center;
      transform: translateY(-50px);
      opacity: 0;
      transition: .3s ease;
  }

  #check:checked~.navbars a{
      transform: translateY(0);
      opacity: 1;
      transition-delay: calc(.15s * var(--i));
  }
}

/* header */
.section_container{
  max-width: var(--max-width);
  margin: auto;
  margin-top: 60px;
  padding: 5rem 1rem;
}

.section_header {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.header_container {
  padding: 1rem 1rem 5rem 1rem;
}

.header_image_container {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(to right, rgba(44,56,85,.9),rgba(100,125,187,.1)),url("../public/image/costa-adeje-gran-hotel-pool-spain-uhd-4k-wallpaper\ \(1\).jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  z-index: 1;
}

.header_content {
  max-width: 600;
  padding: 5rem 2rem;
}

.header_container h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
}

.header_content p {
  color: var(--extra-light);
}

.booking_container {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 2s ease-in-out;
  z-index: 100;
}

.detail_container {
  margin-top: 30px;
  transform: translateX(4%);
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  width: calc(100% - 6rem);
}

.pou {
  position: absolute;
  top:9%;
  width: 100%;
}

.detail_box {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.detail1_container {
  margin-top: 100px;
  transform: translateX(4%);
  align-items: center;
  padding: 0.6rem;
  border-radius: 2rem;
  background-color: rgba(188, 188, 188, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  width: calc(100% - 6rem);
 
}



.booking_container.full-width {
  width: 98%;
}

.btnBooking {
  margin-left: 100px;
  width: 90px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 1px solid #000;
  transition: 0.3s;
}

.btnBooking:hover {
  background: #ababab;
  color: #fff;
}

.booking_container form {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.booking_container .input_group {
  width: 100%;
  position: relative;
}

.booking_container label {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s;
  padding-bottom: 5px;
}

.booking_container input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-dark);
}

.booking_container .selectionform {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color-dark);
  color: var(--text-dark);
}

.bookingSelection {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color-dark);
  color: var(--text-dark);
}

.bookingSelection .total {
  margin-left: 20px;
  font-size: 20px;
}

.bookingSelection .plus {
  margin-left: 200px;
  cursor: pointer;
  padding: 5px 10px;
  background: #ababab;
  border-radius: 20px;
  color: #fff;
  
}

.bookingSelection .minus {
  margin-left: 20px;
  cursor: pointer;
  padding: 5px 10px;
  background: #ababab;
  border-radius: 20px;
  color: #fff;
}

.bookingInput {
  margin-top: 1px;
}

.stick {

  padding-left: 2px;
  padding-right: 1px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #ababab;
  color: #fff;
}
  

.booking_container span {
  margin-top: 100px;
}

.booking_container input:focus ~ label {
  font-size: 0.8rem;
  top: 0;
}

.booking_container .gorm_group p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-light);
}

.booking_container .btn {
  padding: 10px 15px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.booking_container .btn:hover {
  background-color: var(--primary-color-dark);
}

/* Section */

.popular_grid{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular_container {
  margin-top: 10px;
}

.searchSection_container {
  max-width: var(--max-width);
  padding-left: 5rem;
}

.searchPopular_grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular_card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}

.popular_card:hover {
  scale: 1.03;
}

.popular_content {
  padding: 1rem;
}

.btnDetail {
  text-align: right;
  bottom: 20px;
  padding: 0.5rem 1rem;
  background-color: #435681;
  text-decoration: none;
  border-radius: 30px;
  color:white;
}

.popular_content .bu_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular_card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.popular_card_header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular_content p {
  color: var(--text-light);
}

/* review */
.client {
  background-color: var(--extra-light);
  height: 430px;
}

.client_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.client_card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client_card img {
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.client_card p {
  text-align: center;
  color: var(--text-dark);
}

/* slider */

.container{
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%); /* this property creates a new stacking context */
  width: 93%;
  height: 600px;
  border-radius: 20px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
  width: 200px; 
  height: 130px; 
  position: absolute;
  top: 86%; /* this property create a cart position */
  transform: translate(490px, -50%); /* this property creates a new stacking content */
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050; 
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {

  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 50px;
  height: 100%;
  width: 100%;
}

.slide .item:nth-child(3) {
  left: 48%;
}

.slide .item:nth-child(4) {
  left: calc(60% + 220px);
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%); /* this property creates a new stacking context */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}


/* animation text */
.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d5d1d1;
  opacity: 0; /* this property create a new stacking context */
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  color: #f5f5f5;
  margin-bottom: 20px;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

@keyframes animate {
  from{
      opacity: 0;  
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;

  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.3s;
}

.button button:hover {
  background: #ababab;
  color: #fff;
}

/* login */

.Lg {
  margin: 0;
  padding: 0;
  background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container1 {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 9.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container1 p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container1 span {
  font-size: 12px;
}

.container1 a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container1 button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container1 button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container1 form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.borderless {
  border: none;
}

.container1 input {
  background-color: #eee;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;width: 100%;
  transition: border-color 3s ease-in-out;
  outline: none;
}

@keyframes flash {
  0% {
    border-color: #eee;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: #eee;
  }
}

.flashing {
  animation: flash 1s infinite;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-In {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container1.active .sign-In {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container1.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index:  5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border:  1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container1.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc9, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container1.active .toggle {
  transform:  translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
} 

.container1.active .toggle-left{
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
} 

.container1.active .toggle-right {
  transform: translateX(200%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10005;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10008;
}

.modal-content {
  background: white;
  padding: 20px 30px;
  border-style: double;
  border-radius: 5px;
  text-align: center;
}

.model-btn {
  width: 90px;
  height: 40px;
  border-radius: 8px;
 
  border: none;
  cursor: pointer;
  margin: 0px 20px;
  transition: 0.3s;
}

.model-btn:hover {
  background: #ababab;
  border-style: double;
  color: #fff;
}

.model-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.add_room_container {
  transform: translateX(4%);
  margin-top: 90px;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  width: calc(100% - 6rem);
  transition: 0.2s ease-in-out;
}

.add_room_container:hover {
  scale: 1.02;
}

.add-roomFlex {
  display: flex;
}

.add-roomCol3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 350px;
  margin-left: 20px;
}

.add-roomlabel {
  margin-left: 110px;
}

.add-roomInput {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;width: 100%;
  outline: none;
}

.ts-color {
  background-color: #dedede;
  padding: 3px 8px;
  border-radius: 9px;
  color: rgb(37, 36, 36);
}
.reward_container {
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.reward_container p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-light);
}

.reward_container h4 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.reward_btn {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.reward_btn:hover {
  background-color: var(--primary-color-dark);
}
.footer {
  background-color: var(--extra-light);
}

.footer_container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 5rem;
}

.footer_col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark)
}

.footer_col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer_col p {
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer_col p:hover {
  color: var(--text-dark);
}

.footer_bar {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: right;
  overflow: hidden;
}

.footer_bar::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 28rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2px;
  background-color: var(--text-light);
}
/* reponsive */
@media (width < 900px) {
  .booking_container form {
      grid-template-columns: repeat(2, 1fr);
  }

  .popular_grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
  }

  .client_grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
  }

  .client_container {
      grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (width < 600px) {

  .nav_links {
      display: none;
  }

  .header_container {
      padding-bottom: 25rem;
  }

  .booking_container {
      flex-direction: column;
      bottom: -25rem;
  }

  .booking_container form {
      grid-template-columns: repeat(1, 1fr);
  }

  .popular_grid {
      grid-template-columns: repeat(1, 1fr);
  }

  .client_grid {
      grid-template-columns: repeat(1, 1fr);
  }

  .footer_container {
      gap: 2rem;
  }
  
}